<!doctype html>
<html lang="en">
  <head>
    <title>Rad.io, the very first manganime chat app</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="description" content="Rad.io, the very first manganime chat app">
    <meta name="keywords" content="Chat, NodeJS, JavaScript, Socket.io, ExpressJS, MongoDB">
    <meta name="author" content="Kaleidosport, Kawtagan and Houdret">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous"> -->

    <!-- Additional CSS -->
    <!-- <link rel="stylesheet" href="./Assets/style.css" /> -->

    <!-- Additional font -->
     
  </head>

  <body>
    
    <header>
    <!-- Title & branding -->
      <h1 class="container-fluid text-center bg-dark text-warning fs-2">
        WELCOME TO RAD.IO
      </h1>
    </header>

    <main class="join-main">
        <form action="/Views/index.html">
            <div class="form-control">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" placeholder="Enter username..." required/>
            </div>
            <button type="submit" class="btn">Login</button>
        </form>
    </main>

  </body>

  <!-- Javascript -->
  <!-- <script src="./Assets/script.js"></script> -->
  
</html>